@charset "utf-8";
.footer{
	width: 100%;
	height: 260px;
	background-color: #F7F7F7;
	line-height: 1.42857143;
	font-family: "微软雅黑";
	margin-top: 30px;
}
.footer .first-level{
	float: left;
	width: 16.66666667%;
	height: 240px;
    padding-left: 15px;
}
.footer .footer-content{
	width: 970px;
    margin: 0 auto;
}
.footer .first-level span,i{
	font-size: 20px;
    padding-top: 10px;
}
.footer .first-level .nav-divider{
	height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.footer .first-level ul li{
	font-family: "微软雅黑";
    margin-top: 10px;
}
.footer .footer-content .footer-first-level .first-level-5{
	width: 323px;
}
.footer .footer-content .footer-first-level .first-level-5 img{
	width: 100px;
	height: 100px;
	margin-left: 30px;
    margin-top: 40px;	
}
.footer .footer-content .footer-first-level .first-level-5 span{
	font-family: "微软雅黑";
	font-size: 14px;
	display: inline-block;
	margin-left: 30px;
}
.footer .footer-content .footer-second-level{
	width: 970px;
    display: inline-block;
    text-align: center;
}
