			@charset "utf-8";
			* {
				margin: 0px;
				padding: 0px;
				font-family: "微软雅黑";
			}
			
			body,
			html {
				width: 100%;
				height: 100%;
			}
			
			.nav_back {
				background-image: url(../img/higo_title.png);
				background-position: center 0;
				background-repeat: no-repeat;
				-webkit-filter: blur(6px);
				-ms-filter: blur(6px);
				filter: blur(6px);
				width: 100%;
				height: 50px;
				overflow: hidden;
				background-color: rgba(255, 255, 255, 0.4);
				z-index: 3;
				position: absolute;
			}
			
			.header {
				position: absolute;
				width: 100%;
				height: 50px;
				z-index: 100;
				box-shadow: rgba(0,0,0,.1) 0 1px 2px;
			}
			
			.nav-content {
				margin: 0 auto;
				width: 970px;
				height: 100%;
				z-index: 1;
			}
			
			.nav-content>ul>li a {
				color: #000;
			}
			
			.nav-content>ul>li a:hover {
				color: #337ab7;
			}
			
			.nav-style {
				line-height: 50px;
				float: left;
			}
			
			#logo_right {
				margin-left: 13px;
			}
			
			a:hover {
				text-decoration: none;
			}
			
			.right_float {
				float: right;
			}
			
			.column_logo {
				background-image: url(../img/higo_title.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: initial;
				width: 100%;
				height: 205px;
			}