<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SunOnlineWebSiteProject_Master</display-name>
  <welcome-file-list>
    <welcome-file>IndexRouter</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>后台服务配置</description>
    <servlet-name>webservice</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.sunonline.web.webapi</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>webservice</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员登录路由</description>
    <display-name>AdminLoginPageRouter</display-name>
    <servlet-name>AdminLoginPageRouter</servlet-name>
    <servlet-class>com.sunonline.web.admin.service.AdminLoginPageRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginPageRouter</servlet-name>
    <url-pattern>/admin/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员登录验证Servlet</description>
    <display-name>AdminLoginVerifyServlet</display-name>
    <servlet-name>AdminLoginVerifyServlet</servlet-name>
    <servlet-class>com.sunonline.web.admin.service.AdminLoginVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginVerifyServlet</servlet-name>
    <url-pattern>/admin/adminloginverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员注销登录Servlet</description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.sunonline.web.admin.service.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/admin/adminlogout</url-pattern>
  </servlet-mapping>
  <filter>
    <description>管理员会话过滤器</description>
    <display-name>AdminSessionCheckFilter</display-name>
    <filter-name>AdminSessionCheckFilter</filter-name>
    <filter-class>com.sunonline.web.filters.AdminSessionCheckFilter</filter-class>
    <init-param>
      <description>管理员登录页</description>
      <param-name>adminLoginPage</param-name>
      <param-value>/admin/login.jsp</param-value>
    </init-param>
    <init-param>
      <description>管理员登录验证Servlet</description>
      <param-name>adminLoginVerifyServlet</param-name>
      <param-value>AdminLoginVerifyServlet</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AdminSessionCheckFilter</filter-name>
    <url-pattern>/WEB-INF/jsp/admin/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description>Higo大学季分页重定向二级页面</description>
    <display-name>HigoVideoPager</display-name>
    <servlet-name>HigoVideoPager</servlet-name>
    <servlet-class>com.sunonline.web.service.higo.HigoVideoPager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HigoVideoPager</servlet-name>
    <url-pattern>/HigoPager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Higo大学季播放页三级页面</description>
    <display-name>HigoVideoPlayPage</display-name>
    <servlet-name>HigoVideoPlayPage</servlet-name>
    <servlet-class>com.sunonline.web.service.higo.HigoVideoPlayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HigoVideoPlayPage</servlet-name>
    <url-pattern>/HigoVideoPlayPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>影视老司机分页重定向二级页面</description>
    <display-name>OldDriverVideoPager</display-name>
    <servlet-name>OldDriverVideoPager</servlet-name>
    <servlet-class>com.sunonline.web.service.olddriver.OldDriverVideoPager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldDriverVideoPager</servlet-name>
    <url-pattern>/OldDriverPager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>影视老司机播放页三级页面</description>
    <display-name>OldDriverVideoPlayPage</display-name>
    <servlet-name>OldDriverVideoPlayPage</servlet-name>
    <servlet-class>com.sunonline.web.service.olddriver.OldDriverVideoPlayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldDriverVideoPlayPage</servlet-name>
    <url-pattern>/OldDriverVideoPlayPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>最强音播放页二级页面</description>
    <display-name>CollegeVoiceVideoPager</display-name>
    <servlet-name>CollegeVoiceVideoPager</servlet-name>
    <servlet-class>com.sunonline.web.service.collegevoice.CollegeVoiceVideoPager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeVoiceVideoPager</servlet-name>
    <url-pattern>/CollegeVoiceVideoPager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>最强音播放页三级页面</description>
    <display-name>CollegeVoiceVideoPlayPage</display-name>
    <servlet-name>CollegeVoiceVideoPlayPage</servlet-name>
    <servlet-class>com.sunonline.web.service.collegevoice.CollegeVoiceVideoPlayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeVoiceVideoPlayPage</servlet-name>
    <url-pattern>/CollegeVoiceVideoPlayPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>首页路由</description>
    <display-name>IndexRouter</display-name>
    <servlet-name>IndexRouter</servlet-name>
    <servlet-class>com.sunonline.web.service.index.IndexRouter</servlet-class>
    <init-param>
      <param-name>profile</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexRouter</servlet-name>
    <url-pattern>/IndexRouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>公益课堂播放三级页</description>
    <display-name>MoocVideoPlayPage</display-name>
    <servlet-name>MoocVideoPlayPage</servlet-name>
    <servlet-class>com.sunonline.mooc.service.MoocVideoPlayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoocVideoPlayPage</servlet-name>
    <url-pattern>/MoocVideoPlayPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>公益课堂二级菜单页</description>
    <display-name>CoursesVideoPager</display-name>
    <servlet-name>CoursesVideoPager</servlet-name>
    <servlet-class>com.sunonline.mooc.service.CoursesVideoPager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoursesVideoPager</servlet-name>
    <url-pattern>/CoursesVideoPager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>公益课堂主页路由</description>
    <display-name>MoocIndexPager</display-name>
    <servlet-name>MoocIndexPager</servlet-name>
    <servlet-class>com.sunonline.mooc.service.MoocIndexPager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoocIndexPager</servlet-name>
    <url-pattern>/mooc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>获取远程ip</description>
    <display-name>RemoteIpGetter</display-name>
    <servlet-name>RemoteIpGetter</servlet-name>
    <servlet-class>com.sunonline.web.global.RemoteIpGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteIpGetter</servlet-name>
    <url-pattern>/RemoteIpGetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户登录判断逻辑</description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.sunonline.web.service.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户注册逻辑</description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.sunonline.web.service.user.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户登录路由</description>
    <display-name>UserLoginRouter</display-name>
    <servlet-name>UserLoginRouter</servlet-name>
    <servlet-class>com.sunonline.web.service.user.UserLoginRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginRouter</servlet-name>
    <url-pattern>/UserLoginRouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户注册路由实现</description>
    <display-name>UserRegisterRouter</display-name>
    <servlet-name>UserRegisterRouter</servlet-name>
    <servlet-class>com.sunonline.web.service.user.UserRegisterRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterRouter</servlet-name>
    <url-pattern>/UserRegisterRouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户注销</description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.sunonline.web.service.user.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改用户昵称</description>
    <display-name>ModifyUserNickName</display-name>
    <servlet-name>ModifyUserNickName</servlet-name>
    <servlet-class>com.sunonline.web.service.user.ModifyUserNickName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserNickName</servlet-name>
    <url-pattern>/ModifyUserNickName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户密码修改</description>
    <display-name>ModifyUserpwd</display-name>
    <servlet-name>ModifyUserpwd</servlet-name>
    <servlet-class>com.sunonline.web.service.user.ModifyUserpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserpwd</servlet-name>
    <url-pattern>/ModifyUserpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>教育资讯菜单页路由</description>
    <display-name>EduNewsMenuRouter</display-name>
    <servlet-name>EduNewsMenuRouter</servlet-name>
    <servlet-class>com.sunonline.spider.gui.service.EduNewsMenuRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EduNewsMenuRouter</servlet-name>
    <url-pattern>/EduNewsMenuRouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>教育新闻内容路由</description>
    <display-name>EduNewsContentRouter</display-name>
    <servlet-name>EduNewsContentRouter</servlet-name>
    <servlet-class>com.sunonline.spider.gui.service.EduNewsContentRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EduNewsContentRouter</servlet-name>
    <url-pattern>/EduNewsContentRouter</url-pattern>
  </servlet-mapping>
</web-app>