<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SunOnlineWebSiteProject_Master</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>管理员登录验证Servlet</description>
    <display-name>AdminLoginVerifyServlet</display-name>
    <servlet-name>AdminLoginVerifyServlet</servlet-name>
    <servlet-class>com.sunonline.web.admin.service.AdminLoginVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginVerifyServlet</servlet-name>
    <url-pattern>/admin/adminLoginVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员注销登录Servlet</description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.sunonline.web.admin.service.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/admin/adminLogout</url-pattern>
  </servlet-mapping>
  <filter>
    <description>管理员会话过滤器</description>
    <display-name>AdminSessionCheckFilter</display-name>
    <filter-name>AdminSessionCheckFilter</filter-name>
    <filter-class>com.sunonline.web.filters.AdminSessionCheckFilter</filter-class>
    <init-param>
      <description>管理员登录页</description>
      <param-name>adminLoginPage</param-name>
      <param-value>/admin/login.jsp</param-value>
    </init-param>
    <init-param>
      <description>管理员登录验证Servlet</description>
      <param-name>adminVerifyServlet</param-name>
      <param-value>AdminLoginVerifyServlet</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AdminSessionCheckFilter</filter-name>
    <url-pattern>/admin/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>webservice</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.sunonline.web.webapi</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>webservice</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HigoVideoPager</display-name>
    <servlet-name>HigoVideoPager</servlet-name>
    <servlet-class>com.sunonline.web.service.higo.HigoVideoPager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HigoVideoPager</servlet-name>
    <url-pattern>/HigoPager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HigoVideoPlayPage</display-name>
    <servlet-name>HigoVideoPlayPage</servlet-name>
    <servlet-class>com.sunonline.web.service.higo.HigoVideoPlayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HigoVideoPlayPage</servlet-name>
    <url-pattern>/HigoVideoPlayPage</url-pattern>
  </servlet-mapping>
</web-app>